<hr>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#" class="nav-link">Haut</a>
    </p>
    <p class="mb-1">Shared Image 2024 &copy; Partager des Photos entre potes Likez, Commentez et Kiffez la Life !!</p>
  </div>
</footer>
