<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <div class="container text-center" style="height: 300px; margin-top: 150px;">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary btn-lg m-5 w-25"><a href="/login" class="nav-link ">Se Connecter</a></button>
            </div>

            <div class="col-12">
                <button type="button" class="btn btn-outline-secondary btn-lg w-25"><a href="/register" class="nav-link ">S'Inscrire</a></button>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>